:root {
    --color-primary: #3740ff;
    --color-primary-dark: #272eb5;
    --color-primary-light: #3740ff;
    --color-primary-x-light: #e8f0fe;
    --color-light: #ffffff;
    --color-dark: #202124;
    --color-off-white: #f3f4f4;
    --color-mid: #5f6368;
    --color-mid-dark: #3c4043;
    --color-stroke: #dadce0;
    --metric-gutter: 1.5rem;
    --metric-box-spacing: 1rem;
    --metric-radius: 3px;
    --generic-shadow: 0px 1px 2px rgba(60, 64, 67, 0.3), 0px 2px 6px 2px rgba(60, 64, 67, 0.15);
    --font-mono: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
}

.box-model {
    border: 1px solid var(--color-stroke);
    width: 100%;
    max-width: 640px;
    transition: max-width 300ms cubic-bezier(0, 0.26, 0.13, 1.55) 200ms;
}

.box-model[data-size="border-box"] {
    max-width: 600px;
}

.box-model>* {
    transform-origin: center;
    transition: fill 200ms ease;
}

.box-model__margin-box {
    fill: var(--color-off-white);
    stroke: var(--color-primary);
}

.box-model__text,
.box-model__change-text {
    fill: var(--color-dark);
}

.box-model__border-box {
    fill: var(--color-primary);
}

.box-model__padding-box {
    fill: var(--color-primary-x-light);
}

.box-model__content-box {
    fill: var(--color-light);
    stroke: var(--color-primary);
}

.box-model[data-size="border-box"] :is(.box-model__content-box, .box-model__padding-box) {
    fill: var(--color-primary);
    stroke: var(--color-primary-x-light);
}

.box-model[data-size="border-box"] .box-model__change-text {
    fill: var(--color-light);
}

/* Presentational styles */
body {
    font-family: sans-serif;
    padding: 2em;
}