<html>

<head>
    <link rel="stylesheet" href="floats.css">
</head>

<body>
    <article>
        <img src="https://avatars.githubusercontent.com/u/7414965?v=4" alt="A raindbow colored liquid texture" />
        <p>This image floats left, which means these paragraphs wrap around it.</p>
        <p>Nulla vitae elit libero, a pharetra augue. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor
            auctor. Curabitur blandit tempus porttitor. Aenean eu leo quam. Pellentesque ornare sem lacinia quam
            venenatis vestibulum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
    </article>
</body>

</html>