:root {
    --color-primary: #3740ff;
    --color-primary-dark: #272eb5;
    --color-primary-light: #3740ff;
    --color-primary-x-light: #e8f0fe;
    --color-light: #ffffff;
    --color-dark: #202124;
    --color-off-white: #f3f4f4;
    --color-mid: #5f6368;
    --color-mid-dark: #3c4043;
    --color-stroke: #dadce0;
    --metric-gutter: 1.5rem;
    --metric-box-spacing: 1rem;
    --metric-radius: 3px;
    --generic-shadow: 0px 1px 2px rgba(60, 64, 67, 0.3),
        0px 2px 6px 2px rgba(60, 64, 67, 0.15);
    --font-mono: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
    --var-flex-wrap: wrap;
}

.container {
    display: flex;
    gap: 1rem;
    flex-wrap: var(--var-flex-wrap);
    border: 1px solid var(--color-primary);
    background: var(--color-primary-x-light);
    max-width: 400px;
}

/* Presentational styles */
body {
    font-family: sans-serif;
    padding: 2em;
}

.flow>*+* {
    margin-top: var(--flow-space, 2em);
}

.wrapper {
    width: 90vw;
    width: clamp(16rem, 90vw, 70rem);
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--metric-gutter);
    padding-right: var(--metric-gutter);
    position: relative;
}

.box {
    padding: var(--metric-box-spacing);
    border: 1px solid var(--color-stroke);
    box-shadow: var(--generic-shadow);
    font-weight: 500;
    text-align: center;
    max-width: 40rem;
}

.box:not([class*="bg-"]) {
    background: var(--color-off-white);
}